# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build output
dist
dist-ssr
build
.next
out

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache
.npm

# Environment files
.env
.env.*
!.env.example

# Editor & OS
.vscode/
.vscode-test
.DS_Store

# Framework caches
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Serverless / Firebase
.serverless/
.firebase/

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
